<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mount" type="IgorSoft.DokanCloudFS.Mounter.Config.MountSection, IgorSoft.DokanCloudFS.Mounter"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <mount threads="5">
    <drives>
      <!--<drive schema="onedrive" userName="IgorDev" root="Q:" encryptionKey="MyOneDriveSecret&amp;I"/>-->
      <!--<drive schema="box" userName="PSCPDev" root="R:" encryptionKey="MyBoxSecret&amp;I"/>-->
      <!--<drive schema="copy" userName="PSCPDev" root="S:" encryptionKey="MyCopySecret&amp;I"/>-->
      <!--<drive schema="gdrive" userName="PSCPDev" root="T:" encryptionKey="MyGDriveSecret&amp;I"/>-->
      <!--<drive schema="mediafire" userName="PSCPDev" root="U:" encryptionKey="MyMediaFireSecret&amp;I"/>-->
      <!--<drive schema="mega" userName="PSCPDev" root="V:" encryptionKey="MyMegaSecret&amp;I"/>-->
      <!--<drive schema="pcloud" userName="PSCPDev" root="W:" encryptionKey="MypCloudSecret&amp;I"/>-->
      <!--<drive schema="yandex" userName="PSCPDev" root="X:" encryptionKey="MyYandexSecret&amp;I"/>-->
    </drives>
  </mount>
</configuration>
