<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="gateways" type="IgorSoft.DokanCloudFS.Mounter.Config.GatewaysSection, IgorSoft.DokanCloudFS.Mounter"/>
    <section name="mount" type="IgorSoft.DokanCloudFS.Mounter.Config.MountSection, IgorSoft.DokanCloudFS.Mounter"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <mount libPath="..\..\..\Library" threads="5">
    <drives>
      <drive schema="box" userName="BoxUser" root="P:" encryptionKey="MyBoxSecret&amp;I" timeout="300" />
      <drive schema="copy" userName="CopyUser" root="Q:" encryptionKey="MyCopySecret&amp;I" timeout="300" />
      <!--<drive schema="file" root="R:" encryptionKey="MyFileSecret&amp;I" parameters="root=..\..\..\TestData" />-->
      <drive schema="gdrive" userName="GDriveUser" root="S:" encryptionKey="MyGDriveSecret&amp;I" timeout="300" />
      <drive schema="hubic" userName="hubiCUser" root="T:" encryptionKey="MyhubiCSecret&amp;I" parameters="container=default" timeout="300" />
      <drive schema="mediafire" userName="MediaFireUser" root="U:" encryptionKey="MyMediaFireSecret&amp;I" timeout="300" />
      <drive schema="mega" userName="MegaUser" root="V:" encryptionKey="MyMegaSecret&amp;I" timeout="300" />
      <drive schema="onedrive" userName="OneDriveUser" root="W:" encryptionKey="MyOneDriveSecret&amp;I" timeout="300" />
      <drive schema="pcloud" userName="pCloudUser" root="X:" encryptionKey="MypCloudSecret&amp;I" timeout="300" />
      <drive schema="yandex" userName="YandexUser" root="Y:" encryptionKey="MyYandexSecret&amp;I" timeout="300" />
    </drives>
  </mount>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Console" name="Console"/>
      <target xsi:type="File" name="File" fileName="${basedir}/NLog.log"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console"/>
    </rules>
  </nlog>
</configuration>
