<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DokanNet" version="1.1.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net462" />
  <package id="NLog" version="5.0.0-beta09" targetFramework="net462" />
</packages>